.chat-room {
  width: 16rem;
  font-family: 'PingFang-SC-Medium';
}

.header {
  height: 3.09179rem;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0.57971rem;
}

.header .sponsor-img {
  width: 1.93237rem;
  float: left;
  margin-right: 0.34783rem;
  margin-top: 0.57971rem;
}

.header .sponsor-name {
  float: left;
  color: #333;
  margin-top: 0.42512rem;
}

.header .sponsor-name label {
  font-size: 0.61836rem;
}

.header .sponsor-name p {
  font-size: 0.54106rem;
}

.header .sponsor-icon {
  float: right;
  margin-top: 0.96618rem;
}

.header .sponsor-icon img {
  width: 1.15942rem;
  margin-left: 0.19324rem;
}

.chat-middle {
  width: 100%;
  position: fixed;
  top: 3.09179rem;
  bottom: 2.51208rem;
  left: 0;
  right: 0;
  border: 1px solid red;
}

.middle {
  height: 100%;
  overflow: scroll;
  width: 100%;
  border: 1px solid black;
}

.m-loadmore {
  height: 100%;
  overflow: scroll;
  padding: 0.57971rem;
}

.m-loadmore .spokesman-lt {
  overflow: hidden;
}

.m-loadmore .spokesman-lt img {
  width: 1.75845rem;
  height: 1.75845rem;
  border-radius: 50%;
  float: left;
}

.m-loadmore .spokesman-lt div {
  width: 10.97585rem;
  float: left;
  background-color: #75AFFF;
  border-radius: 0.38647rem;
  padding: 0.38647rem;
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFEFE;
  line-height: 0.96618rem;
  margin-top: 0.86957rem;
}

.m-loadmore .spokesman-rg {
  overflow: hidden;
}

.m-loadmore .spokesman-rg > img {
  width: 1.75845rem;
  height: 1.75845rem;
  border-radius: 50%;
  float: right;
}

.m-loadmore .spokesman-rg div {
  width: 10.97585rem;
  float: right;
  background-color: #75AFFF;
  border-radius: 0.38647rem;
  padding: 0.38647rem;
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFEFE;
  line-height: 0.96618rem;
  margin-top: 0.86957rem;
}

.m-loadmore .spokesman-rg > div.voice-msg {
  width: 9.04348rem;
  height: 1.68116rem;
  float: right;
  background-color: #4375F2;
  border-radius: 0.38647rem;
  margin-top: 0.86957rem;
}

.m-loadmore .spokesman-rg > div.voice-msg > label {
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFEFE;
  line-height: 0.96618rem;
  margin-left: 0.57971rem;
}

.m-loadmore .spokesman-rg > div.voice-msg > span {
  float: right;
  margin-right: 0.57971rem;
}

.m-loadmore .spokesman-rg > div.voice-msg > span img {
  width: 0.46377rem;
  height: 0.63768rem;
}

.m-loadmore .spokesman-rg > div.voice-msg > i {
  float: right;
  margin-right: 0.25121rem;
}

.m-loadmore .spokesman-rg > div.voice-msg > i img {
  width: 0.42512rem;
  height: 0.38647rem;
}

.m-loadmore .spokesman-rg .msg-icon {
  position: absolute;
  width: 5.99034rem;
  height: 1.75845rem;
  background-image: url(../img/handle.png);
  background-repeat: no-repeat;
  background-size: 5.99034rem 1.75845rem;
  right: 1.15942rem;
  top: 1.68116rem;
  background-color: transparent;
}

.m-loadmore .spokesman-rg .msg-icon > div {
  width: 49%;
  float: left;
  overflow: hidden;
}

.m-loadmore .spokesman-rg .msg-icon > div label {
  font-size: 0.54106rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 0.63768rem;
  float: left;
  margin-left: 0.57971rem;
}

.m-loadmore .spokesman-rg .msg-icon > div > i {
  float: left;
  overflow: hidden;
}

.m-loadmore .spokesman-rg .msg-icon > div > i img {
  margin-top: 0.67633rem;
}

.m-loadmore .spokesman-rg .msg-icon > i {
  width: 0.05797rem;
  height: 0.77295rem;
  background: #F5F5F5;
  border-radius: 0.03865rem;
  float: left;
  margin: 0;
  margin-top: 0.56039rem;
}

.m-loadmore .spokesman-rg .msg-icon .copy-icon > i img {
  width: 0.52174rem;
  height: 0.52174rem;
  margin-left: 0.28986rem;
  margin-top: 0.71498rem;
}

.m-loadmore .spokesman-rg .msg-icon .withdraw-icon > i img {
  width: 0.48309rem;
  height: 0.50242rem;
  margin-left: 0.27053rem;
}

.rePath {
  position: relative;
}

.fixPath {
  position: fixed;
  bottom: 0;
}

.fixPath1 {
  position: fixed;
  bottom: 7.14976rem;
}

.footer {
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}

.footer div {
  overflow: hidden;
  height: 2.43478rem;
  padding: 0.34783rem 0.57971rem;
  border-bottom: 0.01932rem solid #F5F5F5;
}

.footer div img {
  width: 1.54589rem;
}

.footer div img:last-child {
  margin-right: 0.38647rem;
}

.footer div input {
  width: 7.6715rem;
  height: 1.54589rem;
  background-image: url(../img/msgInput.png);
  background-repeat: no-repeat;
  background-size: 8.44444rem 1.54589rem;
  border: 0;
  float: left;
  font-size: 0.57971rem;
  padding: 0 0.38647rem;
  margin-left: 0.57971rem;
}

.footer div input[type=text]:focus {
  outline: none;
  border: 0;
}

.footer ul {
  overflow: hidden;
  padding: 0.38647rem 0.57971rem 0;
  margin-left: -0.57971rem;
  margin-bottom: 2.31884rem;
  display: none;
}

.footer ul li {
  float: left;
  margin-left: 0.57971rem;
}

.footer ul li img {
  width: 1.93237rem;
  height: 1.93237rem;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.search-list {
  display: none;
  background-color: #fff;
  padding-left: 0.57971rem;
  padding-right: 0.57971rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.search-list input {
  width: 14.84058rem;
  height: 1.48792rem;
  background: #F5F5F5;
  border-radius: 0.67633rem;
  border: 0;
  text-align: center;
}

.search-list ul {
  overflow: hidden;
  margin-left: -1.0628rem;
  margin-bottom: 0.57971rem;
}

.search-list ul li {
  float: left;
  overflow: hidden;
  margin-left: 1.35266rem;
  text-align: center;
  margin-top: 0.57971rem;
}

.search-list ul li img {
  width: 1.73913rem;
  height: 1.73913rem;
  display: block;
}

.search-list ul li label {
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  display: block;
}

.search-handle,
.apply-group {
  background-color: #fff;
  padding-left: 0.57971rem;
  padding-right: 0.57971rem;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-bottom: 0.57971rem;
  display: none;
  width: 100%;
}

.search-handle input,
.apply-group input {
  width: 14.84058rem;
  height: 1.48792rem;
  background: #F5F5F5;
  border-radius: 0.67633rem;
  border: 0;
  text-align: center;
}

.search-handle ul li,
.apply-group ul li {
  overflow: hidden;
  border-bottom: 0.01932rem solid rgba(0, 0, 0, 0.1);
  padding: 0.48309rem 0;
}

.search-handle ul li img,
.apply-group ul li img {
  width: 1.93237rem;
  height: 1.93237rem;
  float: left;
}

.search-handle ul li div.search-msg,
.apply-group ul li div.search-msg {
  float: left;
  font-family: PingFang SC;
  font-weight: 500;
  color: #333333;
  margin-top: 0.28986rem;
  margin-left: 0.57971rem;
}

.search-handle ul li div.search-msg label,
.apply-group ul li div.search-msg label {
  font-size: 0.61836rem;
  display: block;
}

.search-handle ul li div.search-msg span,
.apply-group ul li div.search-msg span {
  font-size: 0.54106rem;
  display: block;
  color: #7E7E7E;
}

.search-handle .handle-icon,
.apply-group .handle-icon {
  float: right;
  width: 4.07729rem;
  height: 1.15942rem;
  background-image: url(../img/handleBack.png);
  background-size: 100%;
  background-repeat: no-repeat;
  margin-top: 0.57971rem;
  overflow: hidden;
  padding: 0.21256rem 0.57971rem;
}

.search-handle .handle-icon img,
.apply-group .handle-icon img {
  width: 0.7343rem;
  height: 0.7343rem;
  float: left;
}

.search-handle .handle-icon i,
.apply-group .handle-icon i {
  width: 0.03865rem;
  height: 0.59903rem;
  background: #FFFFFF;
  border-radius: 0.01932rem;
  float: left;
  margin-left: 0.57971rem;
  margin-top: 0.07729rem;
}

.search-handle .handle-icon span,
.apply-group .handle-icon span {
  font-size: 0.50242rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFFFF;
  float: right;
}

.apply-group1 {
  background-color: #fff;
  padding-left: 0.38647rem;
  padding-right: 0.38647rem;
  position: fixed;
  top: 0;
  z-index: 10;
  padding-bottom: 0.57971rem;
  display: none;
  margin-top: 3.09179rem;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0.19324rem;
}

.apply-group1 ul {
  overflow: hidden;
}

.apply-group1 ul li {
  font-family: PingFang SC;
  font-weight: 500;
  padding-top: 0.38647rem;
  float: left;
}

.apply-group1 ul li div {
  float: left;
}

.apply-group1 ul li div label {
  font-size: 0.61836rem;
  display: block;
}

.apply-group1 ul li div span {
  font-size: 0.61836rem;
}

.apply-group1 ul li button {
  float: right;
  margin-left: 0.38647rem;
}

.forbidden-time .el-dialog {
  width: 75%;
}

.forbidden-time .el-dialog__body {
  padding: 20px;
}

.forbidden-time .el-radio__label {
  font-size: 16px;
}

.forbidden-time .el-radio {
  display: block;
  margin-top: 10px;
}

.forbidden-time .el-dialog__footer {
  text-align: center;
  padding: 10px;
}
