.chat-room {
  width: 16rem;
  font-family: 'PingFang-SC-Medium';
}

.header {
  height: 3.09179rem;
  background-color: #fff;
  overflow: hidden;
  padding: 0 0.57971rem;
}

.header .sponsor-img {
  width: 1.93237rem;
  float: left;
  margin-right: 0.34783rem;
  margin-top: 0.57971rem;
}

.header .sponsor-name {
  float: left;
  color: #333;
  margin-top: 0.42512rem;
}

.header .sponsor-name label {
  font-size: 0.61836rem;
}

.header .sponsor-name p {
  font-size: 0.54106rem;
}

.header .sponsor-icon {
  float: right;
  margin-top: 0.96618rem;
}

.header .sponsor-icon img {
  width: 1.15942rem;
  margin-left: 0.19324rem;
}

.middle {
  height: 23.11111rem;
}

.m-loadmore {
  height: 100%;
  overflow: scroll;
  padding: 0.57971rem;
}

.m-loadmore .spokesman-lt {
  overflow: hidden;
}

.m-loadmore .spokesman-lt img {
  width: 1.75845rem;
  height: 1.75845rem;
  border-radius: 50%;
  float: left;
}

.m-loadmore .spokesman-lt div {
  width: 10.97585rem;
  float: left;
  background-color: #75AFFF;
  border-radius: 0.38647rem;
  padding: 0.38647rem;
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFEFE;
  line-height: 0.96618rem;
  margin-top: 0.86957rem;
}

.m-loadmore .spokesman-rg > img {
  width: 1.75845rem;
  height: 1.75845rem;
  border-radius: 50%;
  float: right;
}

.m-loadmore .spokesman-rg > div {
  width: 9.04348rem;
  height: 1.68116rem;
  float: right;
  background-color: #4375F2;
  border-radius: 0.38647rem;
  margin-top: 0.86957rem;
}

.m-loadmore .spokesman-rg > div > label {
  font-size: 0.61836rem;
  font-family: PingFang SC;
  font-weight: 500;
  color: #FFFEFE;
  line-height: 0.96618rem;
  margin-left: 0.57971rem;
}

.m-loadmore .spokesman-rg > div > span {
  float: right;
  margin-right: 0.57971rem;
}

.m-loadmore .spokesman-rg > div > span img {
  width: 0.46377rem;
  height: 0.63768rem;
}

.m-loadmore .spokesman-rg > div > i {
  float: right;
  margin-right: 0.25121rem;
}

.m-loadmore .spokesman-rg > div > i img {
  width: 0.42512rem;
  height: 0.38647rem;
}

.m-loadmore .spokesman-rg .handle-icon {
  position: absolute;
  width: 5.99034rem;
  height: 1.75845rem;
  background-image: url(../img/handle.png);
  background-repeat: no-repeat;
  background-size: 5.99034rem 1.75845rem;
  right: 1.15942rem;
  top: 1.68116rem;
  background-color: transparent;
}

.m-loadmore .spokesman-rg .handle-icon > div {
  width: 49%;
  float: left;
  overflow: hidden;
}

.m-loadmore .spokesman-rg .handle-icon > div label {
  font-size: 0.54106rem;
  font-family: PingFang SC;
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 0.63768rem;
  float: left;
  margin-left: 0.57971rem;
}

.m-loadmore .spokesman-rg .handle-icon > div > i {
  float: left;
  overflow: hidden;
}

.m-loadmore .spokesman-rg .handle-icon > div > i img {
  margin-top: 0.67633rem;
}

.m-loadmore .spokesman-rg .handle-icon > i {
  width: 0.05797rem;
  height: 0.77295rem;
  background: #F5F5F5;
  border-radius: 0.03865rem;
  float: left;
  margin: 0;
  margin-top: 0.56039rem;
}

.m-loadmore .spokesman-rg .handle-icon .copy-icon > i img {
  width: 0.52174rem;
  height: 0.52174rem;
  margin-left: 0.28986rem;
  margin-top: 0.71498rem;
}

.m-loadmore .spokesman-rg .handle-icon .withdraw-icon > i img {
  width: 0.48309rem;
  height: 0.50242rem;
  margin-left: 0.27053rem;
}

.rePath {
  position: relative;
}

.footer {
  height: 2.24155rem;
  background-color: #fff;
  padding: 0.34783rem 0.57971rem;
  overflow: hidden;
}

.footer img {
  width: 1.54589rem;
}

.footer img:last-child {
  margin-right: 0.38647rem;
}

.footer input {
  width: 7.6715rem;
  height: 1.54589rem;
  background-image: url(../img/msgInput.png);
  background-repeat: no-repeat;
  background-size: 8.44444rem 1.54589rem;
  border: 0;
  float: left;
  font-size: 0.57971rem;
  padding: 0 0.38647rem;
  margin-left: 0.57971rem;
}

.footer input[type=text]:focus {
  outline: none;
  border: 0;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.search-list {
  background-color: #fff;
}

.search-list input {
  width: 14.84058rem;
  height: 1.48792rem;
  background: #F5F5F5;
  border-radius: 0.75362rem;
  border: 0;
}
